@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: url("../fonts/Raleway-ExtraBold.ttf");
}



@font-face {
  font-family: "Public Sans Extra Bold";
  src: url("../fonts/PublicSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Public Sans Medium";
  src: url("../fonts/PublicSans-Medium.ttf");
}

@font-face {
  font-family: "Public Sans Regular";
  src: url("../fonts/PublicSans-Regular.ttf");
}

@font-face {
  font-family: "Public Sans Thin";
  src: url("../fonts/PublicSans-Thin.ttf");
}

@font-face {
  font-family: "Public Sans Bold";
  src: url("../fonts/PublicSans-Bold.ttf");
}



/* GERAL */
.container-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}


/* PAGE ESCOLHA TIPO USUARIO */

.holderETU {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../img/fundo-escolha.svg");
  background-size: cover;
}

.logo {
  width: 200px;
}

.text {
  font-family: "Raleway Bold", sans-serif;
  color: #000000;
  font-size: 65px;
  text-decoration: none;
  letter-spacing: 1px;
}

.logoHolder {
  margin-bottom: 20px;
}

.textHolder {
  margin-top: 20px;
  margin-bottom: 20px;
}

.opcoesHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-top: 20px;
}

/* PAGE CADASTRO USUARIO */
.holderFormularioUsuario {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 620px;
  height: fit-content;


  background-color: #bad5db;
  border-radius: 20px;
  margin: 20px;
  padding-block: 20px;
}

.imgSetaVoltarHolder {
  position: fixed;
  margin-right: 500px;
  margin-top: 35px;
}

.formElementsHolder {
  display: flex;
  flex-direction: column;

  padding: 0 50px 15px 50px ;
}

.formElementsHolderflexivel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 670px;
  overflow-y: auto;
  overflow-x: hidden;
}


.tituloFormHolderFoto {
  font-family: "Raleway Bold", sans-serif;
  color: #000000;
  font-size: 50px;
  text-decoration: none;
  width: 450px;

  text-align: center;
}

.tituloFormHolder {
  font-family: "Raleway Bold", sans-serif;
  color: #000000;
  font-size: 50px;
  text-decoration: none;

  width: 450px;

  text-align: center;
}

.setaVoltar{
  padding: 15px 0 15px 50px;
 
  align-self: flex-start;
}

.tituloFormHolder2 {
  font-family: "Raleway Bold", sans-serif;
  color: #000000;
  font-size: 50px;
  text-decoration: none;

  width: 500px;

  text-align: center;
}

.subTituloFormHolderUsuario {
  font-family: "Raleway Bold", sans-serif;
  color: #3837a1;
  font-size: 20px;

  padding: 15px 0 15px 50px;
  align-self: flex-start;

  text-decoration: none;
  letter-spacing: 1px;
 
 

}

.formularioHolder {
  width: 100%;
  height: fit-content;

}

.formText {
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding-top: 20px;
}

.formInput {
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #c1c1c1;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  height: 50px;
  width: 100%;
  padding-inline: 20px;
  font-family: "Public Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.formInput:focus {
outline: #646363 solid 2px;
}


.formInput::placeholder {
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c1c1c1;
}

.formSubmit {
  background: #fcf892;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin-block: 10px;
  cursor: pointer;

  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  border: none;
}

.formSubmitLogin {
  background: #fcf892;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 370px;
  height: 44px;
  margin: 45px 0 20px 0;
  align-self: center;
  justify-self: center;
  cursor: pointer;

  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  border: none;
}

.caixaMostrarSenha{
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
}





.checkboxSenha{
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #c1c1c1;
  backdrop-filter: blur(40px);
  border-radius: 50px;
}
.formTextMostrarSenha{
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}
.cookieCadastro {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Raleway Bold", sans-serif;
  color: #db310c;
}



.cookieCadastroEmpresa {
  position: absolute;
  margin-top: 591px;
  display: flex;
  align-items: center;
  font-family: "Raleway Bold", sans-serif;
  color: #db310c;
}





.textoCerto{
  margin: 7px 0 0 22px;
  font-family: "Raleway Bold", sans-serif;
  color: #3837a1;
}

.textoErrado {
  margin: 7px 0 0 22px;
  font-family: "Raleway Bold", sans-serif;
  color: #db310c;
}

/* PAGE CADASTRO DE FOTO */

.holderFormularioFoto {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

.line {
  width: 221px;
  height: 0px;
  border: 1px solid #9a9a9a;
}

.subTituloFormFoto {
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 20px;
}

.formLabelFoto {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-block: 5px;
  margin-top: 20px;
  width: 495px;
  height: 50px;
  background: #9998d3;
  border-radius: 25px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}
.previewFormFoto {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.previewFoto {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: #9998D3 solid 2px;

}


.inputFormFoto {
  display: none;
}

.formTextFotoInput {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
  padding-top: 20px;
}

.EHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  gap: 10px;
  color: #686868;
}

.formTextFoto {
  width: 430px;
  height: 170px;
  margin-block: 50px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-justify: inter-word;
  color: #000000;
}

.formInputFoto {
  width: 495px;
  height: 50px;
  background: #fcf892;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;

  display: flex;
  justify-content: center;
  font-family: "Raleway Bold", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal{
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 500px;
  height: fit-content;
  padding: 0 0 0 0 !important;
  background: #BAD5DB !important;
  border-radius: 20px !important;
  align-self: center;
}

.modalInner{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 500px;
  height: fit-content;
  padding: 0 0 0 0 !important;
  background: #BAD5DB !important;
  border-radius: 20px;
}
.blocker{
  display: flex;
  justify-content: center;
}

.croppie-container .cr-slider-wrap {
  display: flex;
  width: 78% !important;
  height: 30px;
  margin: 15px auto;
  text-align: center;
  border-radius: 10px;
  padding-inline: 5px;
  border: rgba(0,0,0, 0.1) solid 2px;
  background: rgba(0,0,0,0.1);
  align-content: center;
}

.cr-slider{
  width: 390px !important;
}

.croppie-container .cr-boundary{
  width: 80% !important;
  height: 380px !important;
  border-radius: 15px;
  border: rgba(0,0,0,0.5) solid 2px;
}

.modal a.close-modal{
  display: none !important;
}

.modal a.formInputFoto{

  width: 270px;
}

.modal a{
  text-decoration: none !important;
}
.modal span.subTituloForm {
  font-family: "Raleway Medium", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  text-align: center;
  line-height: 40px;
  width: 449px;
  align-self: center;
  height: fit-content;
  color: #000000;
  padding-right: 0 !important;
  margin-block: 20px;
}

/* PAGE FORMULARIO PET 1 */
.holderFormularioPet1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

.holderFormularioPet1 a.setaVoltar{
  padding-top: 25px;
}

#formulariopet1 div.tituloFormHolder{
  margin-top: 80px;
}

.subTituloForm {
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 449px;
  padding-right: 35px;
  height: 30px;
  color: #000000;
  margin-top: 90px;
}

.escolhasHolder {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.escolha1 {
  width: 495px;
  height: 44px;
  background: #fcf892;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: "Raleway Bold", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.escolha2 {
  width: 495px;
  height: 44px;
  background: #9998d3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: "Raleway Bold", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.infoFormHolder {
  width: 457px;
  height: 151px;
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #000000;

  margin-top: 50px;
}

#formulariopet1 div.formElementsHolderflexivel{
  height: 550px;
}

#formulariopet1 div.tituloFormHolder{
  margin-top: 10px;
}

#formulariopet1 div.subTituloForm{
  margin-top: 20px;
}
/* PAGE FORMULARIO PET 2 TA USANDO O CSS DO FORMULARIO DO USUARIO */
.holderFormularioPet {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

.holderFormularioPet a.setaVoltar{
  padding-top: 30px;
}

#formularioPet2 div.tituloFormHolder{
  padding-top: 60px;
}

#formularioPet2 div.formulario{
  height: 750px;
}

.holderFormularioPet button.formSubmit{
  margin-top: 40px;
}

.SelectEspecie {
  width: 495px;
  height: 49px;
  background: #ffffff;
  border-radius: 20px;

  border: none;
  font-family: "Public Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  padding-left: 20px;
}

.idadePet {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.NumberIdade {
  width: 495px;
  height: 49px;
  background: #ffffff;
  border-radius: 20px;
  margin-right: 15px;
  border: none;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}

.SelectDiaMesAno {
  width: 495px;
  height: 49px;
  background: #ffffff;
  border-radius: 20px;
  margin-left: 5px;
  border: none;
  font-family: "Public Sans Bold" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  padding-left: 20px;
}

/* PAGE FORMULARIO FOTO PET */
.holderFormularioFotoPet {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

.inputFormFotoPet {
  display: none;
}

.formLabelFotoPet {
  padding-top: 13px;
  padding-left: 65px;
  margin-top: 20px;
  width: 440px;
  height: 40px;
  background: #9998d3;
  border-radius: 20px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}
.formTextFotoPetInput {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #686868;
  padding-top: 20px;
}

/* PAGE FINALIZAR FORM */

.formTextFinalizarForms {
  padding-left: 25px;
  width: 470px;
  height: 151px;
  margin-top: 50px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-justify: auto;
  color: #000000;
}

#paginafinal div.tituloFormHolder2{
  padding-top: 50px;
}

#finalizarCadastroEmpresa div.tituloFormHolder2{
  padding-top: 50px;
}


.botaoFinalizar {
  width: 495px;
  height: 44px;
  background: #fcf892;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: "Raleway Bold", sans-serif;
  text-decoration: none;
  line-height: 45px;
}

.logoPrincipalFinalizarForm {
  margin-top: 30px;
  padding-bottom: 25px;
}

/* PAGE FORMULARIO INFO EMPRESA */

.holderFormularioUsuarioEmpresa {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

#formularioUsuarioEmpresa button.formSubmit{
  margin-top: 40px;
}

#formularioUsuarioEmpresa a.setaVoltar{
  padding-top: 40px;
}

.subTituloFormHolderUsuarioEmpresa {
  font-family: "Raleway Bold", sans-serif;
  color: #3837a1;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 15px 0 15px 50px;
  align-self: flex-start;
  width: 70%;
}

.textoAviso {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #626262;

  padding-left: 5px;
}

.CidadeEUFHolder {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* PAGE FORMULARIO FOTO EMPRES */

.holderFormularioFotoEmpresa {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}

#formularioFotoEmpresa div.formulario{
  height: 760px;
}

.formTextFotoEmpresa {
  padding-left: 25px;
  width: 470px;
  height: 100px;
  margin-top: 50px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #656565;
}

/* PAGE FORMULARIO RAMO */

.holderFormularioRamoEmpresa {
  height: 911px;
  width: 1680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img//fundo-cadastro.svg");
}
.formTextRamo {
  width: 427px;
  height: 107px;

  padding-left: 40px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #000000;
}

#formularioRamoEmpresa a.setaVoltar {
  padding-top: 40px;
}

#formularioRamoEmpresa div.formulario{
  height: 650px;
}

#formularioRamoEmpresa div.tituloFormHolder{
  margin-top: 70px;
}

.formInputRamo {
  width: 495px;
  height: 44px;
  background: #fcf892;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 5px;
  border: none;

  font-family: "Raleway Bold", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.SelectRamo {
  width: 495px;
  height: 49px;
  background: #ffffff;
  border-radius: 20px;

  border: none;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}

/* PAGE LOGIN */
.holderLogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  overflow: hidden;
  background: #fabf7a;
  background-size: 65vw;
  background-image: url("/petiti/views/assets/img/onda-login.svg");
}

.ilustracaoLogin{
  width: 65%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login {
  height: 100vh;
  width: 35%;
  background: #bad5db;
overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginLogo {
  width: 250px;
  margin-bottom: 30px;
}

.formLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formTextLogin {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 6px;
  padding-left: 5px;
  color: #000000;
}

.formInputLogin {
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #c1c1c1;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  height: 50px;
  width: 400px;
  font-family: "Public Sans Bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
}

.loginInputHolder {
  margin-top: 35px;
}



.textoLogin {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;

  color: #000000;
}

.textoLoginAhref {
  font-family: "Raleway Bold";
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #3837a2;
  margin-left: 10px;
}
