RewriteEngine On
Options -Indexes -MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home index.php [NC,L]

RewriteRule ^feed views/feed/feed.php [NC,L]
RewriteRule ^animaisPerdidos views/feed/animaisPerdidos.php [NC,L]
RewriteRule ^animaisEmAdocao views/feed/animaisEmAdocao.php [NC,L]
RewriteRule ^paraVoce views/feed/paraVoce.php [NC,L]
RewriteRule ^notificacoes views/feed/notificacoes.php [NC,L]

RewriteRule ^opcoes views/opcoes/opcoes.php [NC,L]

RewriteRule ^decidir-perfil views/perfil/decidePerfil.php [NC,L]

RewriteRule ^pet-perfil views/perfil/perfilPet.php [NC,L]
RewriteRule ^empresa-perfil views/perfil/perfilEmpresa.php [NC,L]
RewriteRule ^tutor-perfil views/perfil/perfilUsuario.php [NC,L]
RewriteRule ^perfil views/feed/perfil.php [NC,L]



RewriteRule ^sair sair.php [NC,L]
RewriteRule ^import api/database/import-db.php [NC,L]
RewriteRule ^login views/login/login.php [NC,L]



RewriteRule ^categorias-dashboard private-adm/dashboard/pages/categorias/categorias.php [NC,L]
RewriteRule ^dashboard private-adm/dashboard/pages/dashboard/dashboard.php [NC,L]
RewriteRule ^denuncias-dashboard private-adm/dashboard/pages/denuncias/denuncias.php [NC,L]
RewriteRule ^empresas-dashboard private-adm/dashboard/pages/empresas/empresas.php [NC,L]
RewriteRule ^pets-dashboard private-adm/dashboard/pages/pets/pets.php [NC,L]
RewriteRule ^tutores-dashboard private-adm/dashboard/pages/tutores/tutores.php [NC,L]
RewriteRule ^tutorial-dashboard private-adm/dashboard/pages/tutorial/tutorial.php [NC,L]

RewriteRule ^tipo-usuario views/register/escolha-tipo-usuario.php [NC,L]
RewriteRule ^cadastro-usuario views/register/register-comum/formulario-usuario.php [NC,L]
RewriteRule ^info-usuario views/register/register-comum/formulario-maisSobre.php [NC,L]
RewriteRule ^foto-usuario views/register/register-comum/formulario-foto.php [NC,L]

RewriteRule ^inicio-pet views/register/register-comum/formulario-pet1.php [NC,L]
RewriteRule ^formulario-pet views/register/register-comum/formulario-pet2.php [NC,L]
RewriteRule ^foto-pet views/register/register-comum/formulario-foto-pet.php [NC,L]
RewriteRule ^final-usuario views/register/register-comum/finalizar-forms.php [NC,L]


RewriteRule ^cadastro-empresa views/register/register-empresa/formulario-usuario-empresa.php [NC,L]
RewriteRule ^info-empresa views/register/register-empresa/formulario-info-empresa.php [NC,L]
RewriteRule ^ramo-empresa views/register/register-empresa/formulario-ramo.php [NC,L]
RewriteRule ^foto-empresa views/register/register-empresa/formulario-foto-empresa.php [NC,L]
RewriteRule ^final-empresa views/register/register-empresa/finalizar-cadastro-empresa.php [NC,L]


ErrorDocument 404 /petiti/views/erroGeral.php

RewriteRule  ^pet/([A-Za-z0-9-]+)?$  views/perfil/pet.php?pet=$1  [NC]

RewriteRule ^([A-Za-z0-9-]+)/?$  views/perfil/usuario.php?user=$1  [NC]



