:root {
    --color-white: #FFFFFF;
    --color-dark: rgba(0, 0, 0, 1);
    --color-pastelDark: #202225;
    --color-lightGray: #f5f5f5;
    --color-extraLightGray: rgba(245, 245, 245, 1);
    --color-gray: rgba(86, 86, 86, 1);
    --color-light: rgba(224, 224, 224, 1);
  
    --color-purple: rgba(56, 55, 161, 1);
    --color-lightBlue: rgba(186, 213, 219, 1);
    --color-pastelYellow: rgba(255, 251, 159, 1);
    --color-pastelOrange: rgba(251, 211, 164, 1);
  
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
  
    --sticky-top-left: 6.4rem;
    --sticky-top-right: -18rem;
  }


/* PARTE DO MEIO */

  .meio .faixaPost {
    margin-left: 1rem;
}

.meio .criarPost img {
    width: 18rem;
}