:root {
    --color-white: #FFFFFF;
    --color-dark: rgba(0, 0, 0, 1);
    --color-pastelDark: #202225;
    --color-lightGray: #f5f5f5;
    --color-extraLightGray: rgba(245, 245, 245, 1);
    --color-gray: rgba(86, 86, 86, 1);
    --color-lightPastelGray: #C1C1C1;
    --color-light: rgba(224, 224, 224, 1);
  
    --color-purple: rgba(56, 55, 161, 1);
    --color-lightBlue: rgba(186, 213, 219, 1);
    --color-pastelYellow: rgba(255, 251, 159, 1);
    --color-pastelOrange: rgba(251, 211, 164, 1);
  
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
  
    --sticky-top-left: 6.4rem;
    --sticky-top-right: -18rem;
  }



  /* PARTE DAS OPCOES */

  main .container{
    grid-template-columns: 18vw 50vw ;
  }


  .meio .opcoesHolder{
    width: 100%;
    height: 48rem;
    border-radius: var(--card-border-radius);
    background: var(--color-white);

    display: flex;
    margin-top: 0.5rem;
  }

.meio .sidebar{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-right: 2px solid var(--color-lightPastelGray);
}

.meio .sidebar .menu-item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    padding: var(--btn-padding);
    padding-left: 1.5rem;
    font-size: 1rem;
    font-family: 'Raleway Bold', sans-serif;
}


.meio .sidebar .menu-item:hover {
    background-color: var(--color-lightGray);
  }


  .meio .sidebar .ativo {
    background-color: var(--color-lightGray);
  }

  .meio .sidebar .ativo::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-purple);
    left: 0;

    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .meio .opcoesHolder .editarPerfil{
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 4rem;
  }


  .meio .opcoesHolder .editarPerfil .imageHandler{
    align-items: center;
    gap: 1.5rem;
    display: flex;
    flex: row;
  }

  .meio .opcoesHolder .editarPerfil .imageHandler .fotoDePerfil{
    width: 5rem
  }

  .meio .opcoesHolder .editarPerfil .imageHandler .flex-col{
    gap: 0.5rem;
  }

.meio .opcoesHolder .editarPerfil .imageHandler input[type="file"] {
    display: none;
}

.meio .opcoesHolder .editarPerfil .imageHandler .flex-col .flFotoPerfil{
  cursor: pointer;
  font-size: 1rem;
}
  

.meio .opcoesHolder .editarPerfil .imageHandler .flex-row label.flFotoPerfil{
position: absolute;
width: 5rem;
aspect-ratio: 1/1;
cursor: pointer;
border-radius: 50%;
transition: all 300ms ease;
}

.meio .opcoesHolder .editarPerfil .imageHandler .flex-row label.flFotoPerfil:hover{
  background: rgb(0 0 0 / 25%);
}

.meio .opcoesHolder .editarPerfil .imageHandler{
  position: relative;
}


.meio .opcoesHolder .editarPerfil .informacoes{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 28rem;
}

.meio .opcoesHolder .editarPerfil .informacoes .infoPessoal{
  margin-block: 1rem;
}

.meio .opcoesHolder .editarPerfil .informacoes .infoArea{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meio .opcoesHolder .editarPerfil .informacoes .infoArea input[type="text"]{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid gray;
  padding-inline: 1rem;
}

.meio .opcoesHolder .editarPerfil .informacoes .infoArea input[type="text"]:focus{
outline: 1px solid gray;
}

.meio .opcoesHolder .editarPerfil .informacoes .infoArea input[type="text"]::placeholder{
  font-size: 1rem;
}

.meio .opcoesHolder .editarPerfil .informacoes .botoesInfoArea{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.meio .opcoesHolder .editarPerfil .informacoes .botoesInfoArea label{
  width: 11rem;
  cursor: pointer;
  border-radius: var(--border-radius);


  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  border: 1px #cb2d0a solid;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.25);
}



.meio .opcoesHolder .editarPerfil .informacoes .botoesInfoArea label:hover{
  color: white;
  background: #cb2d0a;

}

.meio .opcoesHolder .editarPerfil .informacoes .botoesInfoArea .btn{
  font-size: 1.1rem;
  width: 10rem;
  font-family: 'Raleway Bold', sans-serif;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.25);
}


  .meio .opcoesHolder .alterarSenha{
    position: relative;
    padding: 2rem 0;
    margin-left: 1.4rem;
  
    row-gap: 2rem;
    height: fit-content;
    min-height: 27.9rem;
  }

  .meio .opcoesHolder .adicionarPet{
    position: relative;
    padding: 2rem 0;
    margin-left: 1.4rem;
    
    row-gap: 2rem;
    height: fit-content;
    min-height: 27.9rem;
  }

  .meio .opcoesHolder .privSeg{
    position: relative;
    padding: 2rem 0;
    margin-left: 1.4rem;

    row-gap: 2rem;
    height: fit-content;
    min-height: 27.9rem;
  }