
:root {
    --color-white: #FFFFFF;
    --color-dark: rgba(0, 0, 0, 1);
    --color-pastelDark: #202225;
    --color-lightGray: #f5f5f5;
    --color-extraLightGray: rgba(245, 245, 245, 1);
    --color-gray: rgba(86, 86, 86, 1);
    --color-lightPastelGray: #C1C1C1;
    --color-light: rgba(224, 224, 224, 1);
  
    --color-purple: rgba(56, 55, 161, 1);
    --color-lightPurple: #9998D3;
    --color-lightBlue: rgba(186, 213, 219, 1);
    --color-pastelYellow: rgba(255, 251, 159, 1);
    --color-pastelOrange: rgba(251, 211, 164, 1);
  
  
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
  
    --sticky-top-left: 6.4rem;
    --sticky-top-right: -18rem;
  }

  .meio .prodServDesc{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .meio .prodServDesc h4{
    width: 510px;
  }

  .meio .prodServDesc img{
    width: 200px;
    position: absolute;
    right: 0;
    top: -14px;
  }


  .meio .feed .prodServFeed{
    width: 43rem;
    overflow: auto;
    padding-bottom: 1rem;
  }

  .meio .feed .prodServFeed h3{
    width: 14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .meio .feed .prodServFeed::-webkit-scrollbar {
    height: 7px;
}
  
.meio .feed .prodServFeed::-webkit-scrollbar-track {
    border-radius: 20px;
}
  
  .meio .feed .prodServFeed::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(157 157 161 / 41%);
}

  .meio .feed .prodServFeed .flex-row{
    gap: 1rem;
  }