/* FONTES */
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* GERAL */
a{
  text-decoration: none;
}

html, body {
  scroll-behavior: smooth;
  max-width: 100%;

}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;

}

::-webkit-scrollbar {
  
}


/* NAV */
#navbar {
  position: fixed;
  display: flex;
  width: 80%;
  height: 130px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 20%;
  transition: top 1s;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.3);
}

.FooterHolder {

}


.hover-underline-animation-white {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation-white:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center ;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-white:hover:after {
  transform: scaleX(1);
  transform-origin: center ;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e1e1e;
  transform-origin: center ;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center ;
}


.navbarElement {
  font-family: "Raleway Extra Bold", sans-serif;
  color: #000000;
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 10px;
  margin-left: 10px;
}

.navbarElement:hover{
color: #1e1e1e;
border-bottom-width: 1px;
}

.navbarElementBotao {
  margin-left: 20px;
  background-color: #fcf892;
  border-radius: 28px;
  cursor: pointer;
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 21px;
  padding: 14px 29px;
  text-decoration: none;
  box-shadow: 0px 9px 12px -7px #696969;
}

.logoNavbar {
  width: 270px;
}




/* ELEMENTOS PAGE */

/* MAIN CONTAINER */
.container-content{
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

/* PRIMEIRA PAGE */
.holderPrimeiraPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  height:90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background.svg");
}

.descHolder {
  width: 41vw;
  margin-left: 80px;
}

.desc {
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 3vw;
  display: inline-block;
}

.desc2 {
  color: #696969;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.5vw;
  display: inline-block;

}

.descImage{
  width: 40vw;
}

/* SEGUNDA PARTE PAGE */

.holderSegundaPage{
  height: 90vh;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.textinhoHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}



.textin {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 3vw;
  display: inline-block;
}

.textoEpost {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  align-items: center;
}

.imgPosts {
  width: 50vw;
}

.divTexto {
  width: 26vw;
}

.textin2titulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2vw;
  display: inline-block;
}

.textin2 {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.2vw;
  display: inline-block;
  padding-top: 20px;
}




/* TERCEIRA PARTE PAGE */
.holderTerceiraPage{
  height: 40vh;
  width: 100%;
  margin-top: 130px;

}

.faixaNetworking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-image: url("../images/conteudo\ -\ 2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.networkingTextoHolder {
  display: flex;
  flex-direction: column;
  width: 28vw;
  text-align: center;
}

.networkingTitulo {
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2.5vw;
  margin-bottom: 15px;
  display: inline-block;
  padding-bottom: 10px;
}

.networkingTexto {
  color: #000000;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.9vw;
  display: inline-block;
}



/* QUARTA PARTE PAGE */

.holderQuartaPage{
  height: 60vh;
  width: 100vw;
  margin-top: 100px;
}

.lojinhaHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.lojinhaTextTituloHolder {
  width: 33vw;
}


.lojinhaTextTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2.5vw;
  display: inline-block;
}

.lojinhaTextTitulo enfase{
  color: #5452A0;
}

.lojinhaTextSubTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 1.9vw;
  display: inline-block;
  padding-top: 40px;
}

.lojinhaTextHolder {
  width: 20vw;
}


.lojinhaText {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.2vw;
  display: inline-block;
}

.lojinhaText enfase{
  color: #5452A0;
}


.lojinhaImg {
  width: 100%;
  height: 60vh;
  padding-left: 80px;
}



/* QUINTA PARTE PAGE */
.holderQuintaPage{
  display: flex;
  flex-direction: row;
  height: 40vw;
  width: 100vw;
  margin-top: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/fundo.svg");
}

.leandro{
  align-self: flex-end;
  padding-left: 4vw;
  height: 24vh;
  
}

.funcionalidadesHolder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  align-self: center;
  margin-left: -11vw;
}

.balaoFuncionalidade{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 30vw;
  height: 10vh;
  background-color: #ffffff;
  margin-right: 120px;
  overflow: hidden;
  margin-top: 30px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.iconeFuncionalidade{
  padding-left:50px; 
  width: 4vw;
}

.textoFuncionalidade{
  color: #202225;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.7vw;
  display: inline-block;
  padding-left: 20px;
}

.textosFuncionalidades{
  width: 23vw;
  display: flex;
  flex-direction: column;
}

.funcionalidadesTitulo{
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2.5vw;
  display: inline-block;
}

.funcionalidadesSubTitulo{
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 1.9vw;
  display: inline-block;
  padding-top: 25px;
}

.funcionalidadesTextos{
  color: #2F3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.2vw;
  display: inline-block;
  padding-top: 10px;
}


.faixaTextoHolder {
  width: 1650px;
  height: 350px;
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}


#SeguraTudo4{
  position: relative;
  width: 1600px;
  height: 700px;
}







#home{
  width: 100%;
}

/* FOOTER PARTE PAGE */
.container-footer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  background-color: #9998D3;

}

.FooterElement{
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway Bold", sans-serif;
  font-size: 17px;
  display: inline-block;
}

.FooterHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 635px;
  height: 50px;
 padding-top: 40px;
}

.FooterHolder2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 305px;
  height: 50px;
  padding-left: 15px;
}

.FooterHolder3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-top: 25px;
  border-top: 1px solid #FFFFFF;
}

.imgSetaTopo{
  position: absolute; 
  margin-left: 700px; 
  margin-top: 50px;
}


/* PAGE FEED */

.holderFeed{
  display: grid;
  grid-template-columns: repeat(8, 1fr );
  width: 100vw;
  height: 100vh;
  
}

.leftBarHolder{
    grid-column: 2 span / 2 span;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    
}

.leftBar{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  align-items: center;
  position: fixed;
}

.imgLogoFeed{
  width: 210px;
  height: 100px;
  margin-block: 25px;
  align-self: flex-start;
}

.leftBarMenu a {
  font-family: 'Raleway Bold';
  font-size: 28px;
  margin-block: 10px;
  color: black;
  transition: 0.1s;
}

.leftBarMenu a:hover {
  color: rgba(56, 55, 161, 1);
  
}

.leftBarMenu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  align-items: center;
  align-self: end;

}

.innerLeftBarMenu{
  display: flex; 
  flex-direction: column; 
  width: 346px;
  height: 100%;
  justify-content: space-between;
  align-self: end;
}


.line{
  margin: 15px 0 30px 0;
 height: 1px;
}

.botaoCPost{
  height: 60px;
  width: 300px;
  background: #FFFB9F;
  border-radius: 30px;

  border: none;

  font-family: 'Raleway Bold';
  font-size: 23px;
  
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.botaoCPost a:hover{
color: black;
}

.botaoCPost:hover{
  background:  #FBF793;
  cursor: pointer;
  transition: 0.1s;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}




.userElementos{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
  padding:7px 0 7px 10px;
  border-radius: 50px;
}

.userElementos:hover{
  background-color: rgba(231, 233, 234, 0.7);
  cursor: pointer;
  transition: 0.1s;
}

  .imagemUser{
    width: 60px; 
    height: 60px; 
    border-radius: 100px;  
    border: 2px solid #a0bbc0;
    background-color: #bad5db;
    }

  .textNomeUsuario{
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    }
    
    .textTagUsuario{
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #565656;
    }
    



.postsHolder{
  background-color: #E0F1F4;
  grid-column: 4 span / 4 span;
  width: 100%;
  height: 100%;
}

.rightBarHolder{
  grid-column:  2 span / 2 span;
  width: 100%;
  height: 100%;
}








