/* FONTES */
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* GERAL */
a{
  text-decoration: none;
}

html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

* {
  margin: 0;
  padding: 0;
}

/* NAV */
#navbar {
  position: fixed;
  display: flex;
  width: 80%;
  height: 130px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 20%;
  transition: top 1s;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.3);
}




.navbarElement {
  font-family: "Raleway Extra Bold", sans-serif;
  color: #000000;
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 10px;
  margin-left: 10px;
}

.navbarElementBotao {
  margin-left: 20px;
  background-color: #fcf892;
  border-radius: 28px;
  cursor: pointer;
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 21px;
  padding: 14px 29px;
  text-decoration: none;
  box-shadow: 0px 9px 12px -7px #696969;
}

.logoNavbar {
  width: 270px;
}

/* ELEMENTOS PAGE */
.holderPrimeiraPage {
  height: 900px;
  width: 1680px;
  background-repeat: no-repeat;
  background-image: url("../images/background.svg");
}

.holderSegundaPage{
  height: 700px;
  width: 1680px;
  margin-top: 100px;
}
.holderTerceiraPage{
  height: 400px;
  width: 1680px;
  margin-top: 100px;
}
.holderQuartaPage{
  height: 600px;
  width: 1680px;
  margin-top: 50px;
}

.holderQuintaPage{
  height: 700px;
  width: 1680px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-image: url("../images/fundo.svg");
}

.descEilus {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 170px;

}

.desc {
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 50px;
  display: inline-block;
}

.desc2 {
  color: #696969;
  font-family: "Raleway Bold", sans-serif;
  font-size: 25.6px;
  display: inline-block;
  padding-top: 20px;
}

.descHolder {
  width: 700px;
  padding-left: 100px;
}

.textinho {
  width: 650px;
}

.textinhoHolder {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.textin {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 40px;
  display: inline-block;
}

.textoEpost {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  align-items: center;
}

.imgPosts {
  width: 700px;
}
.divTexto {
  width: 400px;
}

.textin2titulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 30px;
  display: inline-block;
}

.textin2 {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 20px;
  display: inline-block;
  padding-top: 20px;
}

.faixaNetworking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-image: url("../images/conteudo\ -\ 2.svg");

}

.networkingTextoHolder {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  text-align: center;
}

.networkingTitulo {
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 40px;
  display: inline-block;
  padding-bottom: 10px;
}

.networkingTexto {
  color: #222121;
  font-family: "Raleway Bold", sans-serif;
  font-size: 28px;
  display: inline-block;
}

.faixaTextoHolder {
  width: 1650px;
  height: 350px;
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.lojinhaHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.lojinhaTextTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 40px;
  display: inline-block;
}

.lojinhaTextSubTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 30px;
  display: inline-block;
  padding-top: 40px;
}

.lojinhaText {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 20px;
  display: inline-block;
}

.lojinhaTextTituloHolder {
  width: 550px;
}

.lojinhaTextHolder {
  width: 350px;
}

.lojinhaImg {
  width: 100%;
  height: 550px;
  padding-left: 80px;
}

.lojinhaTextStyle {
  color: #7270c3;
}





#SeguraTudo4{
  position: relative;
  width: 1600px;
  height: 700px;
}

.funcionalidadesHolder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1582px;
  height: 700px;
  margin-left: 80px;
 
  
}

.textosFuncionalidades{
  width: 390px;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.botoesFuncionalidades{
  display: flex;
  flex-direction: column;

}

.funcionalidadesTitulo{
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 40px;
  display: inline-block;
}

.funcionalidadesSubTitulo{
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 30px;
  display: inline-block;
  padding-top: 25px;
}

.funcionalidadesTextos{
  color: #202225;
  font-family: "Raleway Bold", sans-serif;
  font-size: 20px;
  display: inline-block;
  padding-top: 10px;
}


.leandro{
  position: absolute;
  padding-top: 420px;
  padding-left: 50px;
}

.iconeBotaoFuncionalidade{
  width: 50px;
  height: 50px;
}

.balaoFuncionalidade{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 550px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 17px;
  margin-right: 120px;
  overflow: hidden;
  margin-top: 30px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}


.iconeFuncionalidade{
  padding-left:50px; 
  width: 60px;
}

.textoFuncionalidade{
  color: #202225;
  font-family: "Raleway Bold", sans-serif;
  font-size: 28px;
  display: inline-block;
  padding-left: 20px;
  
}

.container-content{
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;

}

.container-footer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 250px;
  width: 1670px;
  background-color: #9998D3;

}


#home{
  width: 100%;
}

.FooterElement{
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway Bold", sans-serif;
  font-size: 17px;
  display: inline-block;
}

.FooterHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 50px;
 padding-top: 40px;
}

.FooterHolder2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 305px;
  height: 50px;
  padding-left: 15px;
}

.FooterHolder3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-top: 25px;
  border-top: 1px solid #FFFFFF;
}

.imgSetaTopo{
  position: absolute; 
  margin-left: 700px; 
  margin-top: 50px;
}


/* PAGE FEED */

.bodyFeed{
display: flex; 
justify-content: center;
}

.holderFeed{
 width:1680px; 
 height: 100vh; 
 display: flex; 
 flex-direction: row;
}



.hudHolder{
  width: 25%; 
  height: 100%; 
  position: fixed;
  left: 0;
}

.hud{
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.elementsHud{
  display: flex;
  flex-direction: column;
}


.elementosContainer{
display: flex;
flex-direction: column;
justify-self: center;
align-items: center;
}
.elementos{
  width: fit-content;
  display: flex; 
  flex-direction: column;  
  font-family: 'Raleway Bold'; 
  font-size: 25px; 
  align-self: end; 
  margin: 40px 20px 30px 0px ;
}


.hudA:hover{
  color: #3837A1;
}
.hudA{
  margin-block: 10px; 
  color: #000000;
  transition: 0,5s;
}



.elementHudText{
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.elementsHolder{
  padding-block: 15px;
}



.postsHolder{
  width: 50%; 
  height: fit-content; 
  background-color:#E0F1F4;
  margin-left: 420px;
  z-index: 99;

}

.posts{
  width: 100%; 
  height: fit-content; 

}
.elementosPosts{
  width: 93%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  padding-top: 30px;
}

.barraPesquisaFeed{
  width: 601px;
  height: 49px;
  background: #FFFFFF;
  border: 1px solid #9998D3;
  border-radius: 18px;
  margin-right: 115px;
  text-indent:63px;
  z-index: 100;
  
  
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

  background-image: url(../images/lupa-icon.svg);
  background-repeat: no-repeat;
  background-position: 30px 13px;

}

#barraPesquisa{
  position: fixed; 
  z-index: 100; 
  transition: 1s;
  margin-right: 725px;
}

.barraPesquisaFeed::placeholder{
  color: #000000;
}

.postarFeed{
  width: 663px;
  height: 101px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-right: 115px;
  margin-bottom: 20px;
  margin-top: 80px;

  background-image: url('../images/postar-feed.svg');
}

.textoPostarFeed{
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.placeHolderPostarFeedBotao{
  width: 115px;
  height: 30px;
  margin-left: 80%;
  top: -20px;
  position: relative;

  background: #FBF793;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #000000;
}


.placeholderPost{
  display: flex;
  flex-direction: column;

  width: 589px;
  height: 761px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-right: 115px;
  margin-block: 20px;

  background-image: url('../images/placeholder-Post.svg');
}



.functionHolder{
  width: 25%;
  height: 100%; 
  position: fixed;
  right: 0;
}

.function{
  width: 100%;
  height: 100%; 

}

.placeHolderFeedAnimalPerdido{
  display: flex;
  flex-direction: column;

  width: 390px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 10px;
  margin-block: 20px;

 

}
.placeholderCategorias{
  display: flex;
  flex-direction: column;

  width: 382px;
  height: 241px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 10px;
  margin-block: 20px;
}

.placeholderCopyright{
  display: flex;
  flex-direction: column;

  width: 385px;
  height: 47px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 10px;
  margin-block: 20px;
}





.line{
  width: 400px;
  height: 0px;
  border: 0.5px solid rgba(153, 152, 211, 1);
  margin-left: 20%;

}

.botaoCriarPost{
  width: 292px;
  height: 60px;
  background: #FBF793;
  border: 1px solid #9998D3;
  border-radius: 15px;
  margin-left: 27%;
  margin-top: 10px;

  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #000000;
}

.userElementos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
    padding-right: 30px;
}

.imagemUser{
  width: 75px; 
  height: 75px; 
  border-radius: 100px;  

  border: 2px solid rgba(0, 0, 0, 1);
}

.textNomeUsuario{
  font-family: 'Raleway Bold';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.textLoginUsuario{
  font-family: 'Raleway Bold';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #565656;
}