/* FONTES */
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Public Sans Extra Bold";
  src: url("../fonts/PublicSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Public Sans Medium";
  src: url("../fonts/PublicSans-Medium.ttf");
}

@font-face {
  font-family: "Public Sans Regular";
  src: url("../fonts/PublicSans-Regular.ttf");
}

@font-face {
  font-family: "Public Sans Thin";
  src: url("../fonts/PublicSans-Thin.ttf");
}

@font-face {
  font-family: "Public Sans Bold";
  src: url("../fonts/PublicSans-Bold.ttf");
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* GERAL */

.textPadrao {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.textPlaceholder {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #777777;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.enfase {
  color: #5452a0 !important;
}

/* NAV */
#navbar {
  position: fixed;
  display: flex;
  width: 80%;
  height: 130px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 20%;
  transition: top 1s;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.3);
}

.hover-underline-animation-white {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation-white:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-white:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1e1e1e;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.navbarElement {
  font-family: "Raleway Extra Bold", sans-serif;
  color: #000000;
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 10px;
  margin-left: 10px;
}

.navbarElement:hover {
  color: #1e1e1e;
  border-bottom-width: 1px;
}

.navbarElementBotao {
  margin-left: 20px;
  background-color: #fcf892;
  border-radius: 28px;
  cursor: pointer;
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 21px;
  padding: 14px 29px;
  text-decoration: none;
  box-shadow: 0px 9px 12px -7px #696969;
}

.logoNavbar {
  width: 270px;
}

/* ELEMENTOS PAGE */

/* MAIN CONTAINER */
.container-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

/* PRIMEIRA PAGE */
.holderPrimeiraPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 105vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background.svg");
}

.descHolder {
  width: 41vw;
  margin-left: 80px;
  margin-bottom: 6rem;
}

.desc {
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 3vw;
  display: inline-block;
}

.desc2 {
  color: #696969;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.5vw;
  display: inline-block;
}

.descImage {
  width: 40vw;
  margin-bottom: 4.5rem;
}

/* SEGUNDA PARTE PAGE */

.holderSegundaPage {
  height: 90vh;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.textinhoHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.textin {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 3vw;
  display: inline-block;
}

.textoEpost {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  align-items: center;
}

.imgPosts {
  width: 45vw;
}

.divTexto {
  width: 26vw;
}

.textin2titulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2vw;
  display: inline-block;
}

.textin2 {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.2vw;
  display: inline-block;
  padding-top: 20px;
}

/* TERCEIRA PARTE PAGE */
.holderTerceiraPage {
  height: 40vh;
  width: 100%;
  margin-top: 130px;
}

.faixaNetworking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-image: url("../images/conteudo\ -\ 2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.networkingTextoHolder {
  display: flex;
  flex-direction: column;
  width: 28vw;
  text-align: center;
}

.networkingTitulo {
  color: #000000;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2.5vw;
  margin-bottom: 15px;
  display: inline-block;
  padding-bottom: 10px;
}

.networkingTexto {
  color: #000000;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.9vw;
  display: inline-block;
}

/* QUARTA PARTE PAGE */

.holderQuartaPage {
  height: 60vh;
  width: 100vw;
  margin-top: 100px;
}

.lojinhaHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.lojinhaTextTituloHolder {
  width: 33vw;
}

.lojinhaTextTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2.5vw;
  display: inline-block;
}

.lojinhaTextTitulo enfase {
  color: #5452a0;
}

.lojinhaTextSubTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 1.9vw;
  display: inline-block;
  padding-top: 40px;
}

.lojinhaTextHolder {
  width: 22vw;
  margin-top: 1rem;
}

.lojinhaText {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.6rem;
  display: inline-block;
}

.lojinhaText enfase {
  color: #5452a0;
}

.lojinhaImg {
  width: 100%;
  height: 60vh;
  padding-left: 80px;
}

/* QUINTA PARTE PAGE */
.holderQuintaPage {
  display: flex;
  flex-direction: row;
  height: 40vw;
  width: 100vw;
  margin-top: 125px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/fundo.svg");
}

.leandro {
  align-self: flex-end;
  padding-left: 4vw;
  height: 24vh;
}

.funcionalidadesHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  align-self: center;
  margin-left: -11vw;
}

.balaoFuncionalidade {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 30vw;
  height: 10vh;
  background-color: #ffffff;
  margin-right: 120px;
  overflow: hidden;
  margin-top: 30px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.iconeFuncionalidade {
  padding-left: 50px;
  width: 4vw;
}

.textoFuncionalidade {
  color: #202225;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.7vw;
  display: inline-block;
  padding-left: 20px;
}

.textosFuncionalidades {
  width: 23vw;
  display: flex;
  flex-direction: column;
}

.funcionalidadesTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 2.5vw;
  display: inline-block;
}

.funcionalidadesSubTitulo {
  color: #202225;
  font-family: "Raleway Extra Bold", sans-serif;
  font-size: 1.9vw;
  display: inline-block;
  padding-top: 25px;
}

.funcionalidadesTextos {
  color: #2f3136;
  font-family: "Raleway Bold", sans-serif;
  font-size: 1.2vw;
  display: inline-block;
  padding-top: 10px;
}

.faixaTextoHolder {
  width: 1650px;
  height: 350px;
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

#SeguraTudo4 {
  position: relative;
  width: 1600px;
  height: 700px;
}

#home {
  width: 100%;
}

/* FOOTER PARTE PAGE */
.container-footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  background-color: #9998d3;
}

.FooterElement {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway Bold", sans-serif;
  font-size: 17px;
  display: inline-block;
}

.FooterHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 635px;
  height: 50px;
  padding-top: 40px;
}

.FooterHolder2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 305px;
  height: 50px;
  padding-left: 15px;
}

.FooterHolder3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding-top: 25px;
  border-top: 1px solid #ffffff;
}

.imgSetaTopo {
  position: absolute;
  margin-left: 700px;
  margin-top: 50px;
}

/* PAGE FEED */

.holderFeed {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.leftBarHolder {
  grid-column: 2 span / 2 span;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.leftBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  align-items: center;
  position: fixed;
}

.imgLogoFeed {
  width: 210px;
  height: 100px;
  margin-block: 25px;
  align-self: flex-start;
}

.leftBarMenu a {
  font-family: "Raleway Bold";
  font-size: 28px;
  margin-block: 10px;
  color: black;
  transition: 0.1s;
}

.leftBarMenu a:hover {
  color: rgba(56, 55, 161, 1);
}

.leftBarMenu {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100%;
  align-items: center;
  align-self: end;
}

.innerLeftBarMenu {
  display: flex;
  flex-direction: column;
  width: 346px;
  height: 100%;
  justify-content: space-between;
  align-self: end;
}

.line {
  margin: 15px 0 30px 0;
  height: 1px;
}

.botaoCPost {
  height: 60px;
  width: 300px;
  background: #fffb9f;
  border-radius: 30px;

  border: none;

  font-family: "Raleway Bold";
  font-size: 23px;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.botaoCPost a:hover {
  color: black;
}

.botaoCPost a {
  padding-block: 15px;
  padding-inline: 45px;
}

.botaoCPost:hover {
  background: #fbf793;
  cursor: pointer;
  transition: 0.1s;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

/* MODAL DO POST */

.modal {
  padding: 0 0 !important;
  border-radius: 20px !important;

  width: 800px;
  height: 810px;

  max-width: 800px !important;
  max-height: 810px !important;

  overflow: hidden;
}

.modal a.close-modal {
  display: none !important;
}

.modal-foto-post {
  display: flex;
  flex-direction: column;

  width: 800px !important;
  height: 815px !important;

  border-radius: 20px;
  box-shadow: 1px 1px 40px 1px black;
}

.tituloModalPost {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  align-self: flex-start;

  border-bottom: 1px solid gray;

  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.inputArea {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90%;

  gap: 30px;
}

.inputButtonEstilo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 486px;
  height: 58px;

  background: #9998d3;
  border-radius: 25px;

  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  cursor: pointer;
}

.inputButtonEstilo:hover {
  background: rgba(153, 152, 211, 0.9);
}

.inputForm {
  display: none;
}

/* MODAL RECORTAR IMAGEM POST */

.cr-slider {
  display: none;
}

.croppie-container {
  height: 710px !important;
  width: 800px !important;
}

.tituloModalPost a {
  color: #3837a1;
}

.tituloModalPost a:hover {
  color: rgba(56, 55, 161, 0.9);
}

/* MODAL detalhes Post */

#criar-post label.tituloModalPost {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #3837A1;
}


#criar-post{
  width: 1210px !important;
  max-width: 1210px !important;
}

.submitCriarPost {

  background: none;
  border: none;

  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;

  color: #3837A1;

  cursor: pointer;

}

.submitCriarPost:hover {
  color: rgba(56, 55, 161, 0.9);

}

.criarPostElements{
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  width: 410px;
}


.parte1CriarPost{
  grid-row: 7 span / 7 span;
  width: 100%;
  height: 100%;
}

.parte1CriarPost div.userElementos{
  width: 100%;
  gap: 15px;
  padding: 20px 0 0 20px !important;
}

.parte1CriarPost .userElementos:hover{
background: none;
cursor: default;
}

.parte1CriarPost .imagemUser{
    border:none !important;
    background-color: none !important;
    box-shadow: 0px 0px 7px 0px black !important;
}

.parte1CriarPost .textNomeUsuario{
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

#form-aid textarea{
  resize: none;
  width: 410px;
  height: 200px;
  border: none;
  padding: 0 20px 0 20px;

  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

#form-aid textarea:focus{
  outline: none;
}

#form-aid textarea::placeholder{
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.letraCont{
 display: flex; 
 width: 95%; 
 justify-content: end; 
 padding: 0px 20px 0 0; 
 font-family: "Raleway Medium";
 color: #777777;
}




.parte2CriarPost{
  display: flex;
  flex-direction: row;
  align-items: center;
 justify-content: space-between;
  
  grid-row: 1 span / 1 span;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.parte2CriarPost input{
  height: 98%;
  width: 70%;
  border: none;
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;

}

.parte2CriarPost input::placeholder{
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  
  color: #777777;
  
}

.parte2CriarPost input:focus{
  outline:none;
}

.parte2CriarPost span.material-symbols-outlined{
  font-size: 35px !important;
  padding-right: 20px;
}


.parte3CriarPost{
  grid-row: 7 span / 7 span;
  width: 100%;
  height: 100%;
  
}

#categoriasHolder{
  display: none;
  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 23px 30px 23px;
  gap: 20px;

}

#categoriasHolder span.textPlaceholder{
line-height: 19px;
font-size: 15px;
}

.parte3CriarPost span#expandMoreIcon{
  font-size: 35px !important;
  padding-right: 40px;
}

.parte3CriarPost span#expandLessIcon{
  font-size: 35px !important;
  padding-right: 40px;
}


.botaoShowHide{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
  background: white;
  border: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-left: 20px; 
  
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  transition: 100ms;
  
  cursor: pointer;
}

.botaoShowHide:hover{
background: rgb(245, 245, 245);
;
}


#txtCategoria{
  grid-column: 9 span;
  height: 40px;
   
   
  border: 1px solid #B7B7B7;
  border-radius: 18px;
   
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
   
  padding: 0 10px 0 10px;

  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;

 }
 
 #txtCategoria::placeholder{
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;

  color: #B7B7B7;
 }


 #txtCategoria:focus{
 outline: none;
 }

 #categoriasHolder span#addIcon{
  font-size: 24px !important;
  color: white;
}

 
#submitCategoria{
  grid-column: 1 span;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  border-radius: 18px;
  
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  
  background: rgba(56, 55, 161, 1);

  cursor: pointer;
 }

 #submitCategoria:hover{
  background: rgba(56, 55, 161, 0.90);
 }


 .categoriaSelector{
  display: flex;
  align-items: center;
  justify-content: center;
  
  grid-column: 3 span;
  height: 30px;
  width: 70px;
  
  border: 1px solid rgba(56, 55, 161, 1);
  border-radius: 18px;
  
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  text-align: center;

  color: #000000;
  
  position: relative;

  padding: 1px 25px 1px 15px;

  overflow: hidden;
}

.checkbox{
  appearance: none;
  position: absolute;
  top: 40%;
  right: -2px;
  transform: translateY(-50%);


  height: 35px;
  width: 20px;  
  
  border: 1px solid gray;
  
  border-bottom: none;
  border-top: none;
  border-right: none;
  
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;

  margin: 2px 0 0 0;
  
  transition: 50ms;

  cursor: pointer;
}

.checkbox:checked{
  background-color: #3837a1;

}





.userElementos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 300px;
  padding: 7px 0 7px 10px;
  border-radius: 50px;
}

.userElementos:hover {
  background-color: rgba(231, 233, 234, 0.7);
  cursor: pointer;
  transition: 0.1s;
}

.imagemUser {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 2px solid #a0bbc0;
  background-color: #bad5db;
}

.textNomeUsuario {
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.textTagUsuario {
  font-family: "Raleway Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #565656;
}

.postsHolder {
  background-color: #e0f1f4;
  grid-column: 4 span / 4 span;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.post{
  width: 650px;
  height: fit-content;
  display: flex;
  background-color: white;
  padding-top: 30px;

  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;

}


.publicacoesHolder{
  width: 650px;
  height: fit-content;

  margin: 60px 0 60px 0 ;
  padding: 30px 0 30px 0 ;

  border-radius: 10px;
}

.elementosUserPost{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 24px;
  gap: 15px;
  width: 100%;
}
.holderPost{

  align-items: center;
  padding-inline: 24px;
  gap: 10px;
  width: 600px;
  margin-top: 5px;

  word-break: break-all;
}



#post img.imagemUser{
  border: none;
}

.foto{
  width: 600px;
  align-self: center;

  border-radius: 10px;

  margin-top: 20px;
}

.texto{
  font-family: 'Public Sans regular';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

color: #5E5E5E;
margin-left: 5px;
}

.local{
  font-family: 'Public Sans regular';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #5E5E5E;
}

.itimaliasPost{
  padding-inline: 24px;
  margin-top: 10px;

  font-family: 'Public Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;


  color: #000000;
}

.login{
  font-family: 'Public Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.dataDif{
  padding-inline: 24px;
  margin-top: 5px;

  font-family: 'Public Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;


  color: #848484;
}

.comentarioArea textarea{
  width: 650px;
  height: 60px;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid gray;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  margin-top: 5px;
  padding: 15px 30px 0 50px;

  font-family: 'Public Sans Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;

  color: #000000;
  resize: none;
  overflow: hidden;
}
.comentarioArea textarea:focus{
  background: rgb(245, 245, 245);
}

.comentarioArea textarea::placeholder{
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #838383;
}

.comentarioArea textarea:focus{
  outline: none;
}

.rightBarHolder {
  grid-column: 2 span / 2 span;
  width: 100%;
  height: 100%;
}
